POSTGRES_DB=climawatch
POSTGRES_USER=climawatch
POSTGRES_PASSWORD=climawatch_dev_password
RABBITMQ_DEFAULT_USER=climawatch
RABBITMQ_DEFAULT_PASS=climawatch_dev_password
RABBITMQ_ERLANG_COOKIE=climawatch_dev_cookie
PGADMIN_DEFAULT_EMAIL=admin@climawatch.com
PGADMIN_DEFAULT_PASSWORD=climawatch_dev_password
